 

    #container {
      display: grid;
      width: 960px;  
      height: 960px; 
      gap: 2px;
      background-color: #ccc;
    }

    .grid-item {
      background-color: white;
      border: 1px solid grey;
      width: 100%;
      height: 100%;
      transition: background 0.3s;
    }

    .grid-item:hover {
      background-color:rgb(12, 165, 12);
    }
   